<body>
  <br>
  <h1 class="text-align: text-center">スレッド</h1>
  <br>
  <div class="col-lg-4 col-md-7 mx-auto">
    <div class="form-group">
      <%= search_form_for @q do |f| %>
      <div class="input-group">
        <%= f.search_field :title_cont, class:'form-control', :placeholder => "スレッドを検索" %>
        <div class="input-group-append">
          <%= button_tag(class: "fas fa-search") do %>
          <% end %>
        </div>
      </div>
    <% end %>
    </div>
  </div>
  <strong class="text-center">
    <% if flash[:notice] %>
    <p class="alert alert-danger"><%= flash[:notice] %></p>
    <% end %>
  </strong>
    <table class="text-center table table-hover">
      <thead>
        <tr>
          <th>タイトル</th>
          <th>レス数</th>
        </tr>
      </thead>
      <tbody>
        <% @topics.each do |topic| %>
          <tr class="table-primary">
            <td><strong><%= link_to topic.title, topic_path(topic.id) %></strong></td>
            <td><%= topic.responses.count %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
     <% @topic.categories.each do |category| %>
    <%= category.name %>
  <% end %>
    <div class="row">
      <div class="mx-auto">
        <%= paginate @topics %>
      </div>
    </div>
  </div>
  <div class="card mx-auto" style="width: 700px">
    <div class="container">
      <br>
      <h2 class="text-align: text-center">
        <strong>スレッド作成</strong></h2>
      <div class="mx-auto">
        <%= form_with model: @topic do |f| %>
        <form>
          <h3><%= f.label :タイトル, class:"fas fa-clipboard-list"%></h3>
          <%= f.text_field :title, class:'form-control' %>
          <br>
          <h3><%= f.label :カテゴリ, class:"fas fa-clipboard-list"%></h3>
          <%= f.collection_check_boxes(:category_ids, Category.all, :id, :name) do |category| %>
            <%= category.label do %>
              <%= category.check_box %>
              <%= category.text %>
            <% end %>
          <% end %>
          <br>
          <%= f.submit "作成", class:"btn btn-primary btn-lg"%>
        </form>
        <% end %>
      </div>
    </div>
  </div>
</body>