<body>
  <div class="text-center">
    <br>
    <h1 class="fas fa-chalkboard-teacher">スレッド</h1>
    <% if flash[:notice] %>
    <p class="alert alert-danger"><%= flash[:notice] %></p>
    <% end %>
    <br>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>タイトル</th>
          <th>レス数</th>
        </tr>
      </thead>
      <tbody>
        <% @topics.each do |topic| %>
        <tr class="table-primary">
          <td>
            <strong><%= link_to topic.title, topic_path(topic.id) %></strong>
          </td>
          <td><%= topic.responses.count %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <div class="row">
      <div class="mx-auto">
        <%= paginate @topics %>
      </div>
    </div>
  </div>
<div class="card mx-auto" style="width: 700px">
  <div class="container">
    <br>
    <h2 class="text-align: text-center">
      <strong>スレッド作成</strong></h2>
    <div class="mx-auto">
      <%= form_with model:@topic, local: true do |f| %>
      <form>
        <h2 class="strong"><%= f.label :タイトル, class:"fas fa-clipboard-list"%></h2>
        <%= f.text_field :title, class:'form-control' %>
        <br>
        <%= f.submit "作成", class:"btn btn-primary btn-lg"%>
      </form>
      <% end %>
    </div>
  </div>
  </div>
</body>