<div class="col-md-12 text-center">
    <div class="modal-dialog" style="margin-bottom:0">
        <div class="modal-content">
            <br>
            <div class="mx-auto">
                <div class="panel-heading">
                    <h3 class="panel-title">ログイン</h3>
                </div>
            </div>
            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do
            |f| %>
            <br>
            <div class="panel-body">
                <form role="form">
                    <fieldset>
                        <div class="form-group">
                            <div class="field">
                                <%= f.email_field :email, autofocus: true, autocomplete: "email", class:
                                "form-control", placeholder: "Eメール" %>
                            </div>
                        </div>
                        <div class="form-group">
                            <%= f.password_field :password, autocomplete: "current-password" , class:
                            "form-control", placeholder: "パスワード" %>

                        </div>
                        <% if devise_mapping.rememberable? %>
                            <div class="field">
                                <%= f.check_box :remember_me %>
                                <%= f.label :上記を保存する %>
                            </div>
                        <% end %>
                        <!-- Change this to a button or input when using this as a form -->
                        <div class="actions">
                            <%= f.submit "ログイン" %>
                        </div>
                    </fieldset>
                </form>
            <% end %>
        </div>
    </div>
</div>

